body {
    background: #FF8A80;
    vertical-align: middle;
}
.title {
    text-align: center;
}
.box1 {
    height: 400px;
    width: 400px;
    margin: auto;
    background: white;
    border-radius: 5px;
    padding: 50px;
}

image {
    height: 100%;
    width: auto;
    margin: 0 auto;
}

.loader { 
    margin: 40px 160px;
}